<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Pizza</title>
</head>
<body>


  <div class="index-banner">

  </div>

  <%= link_to "about page", "/about/history" %>


</body>
</html>
