// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.index-banner {
  /*
  color: #fff;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: perserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  */
  box-sizing: border-box;
  min-height: 100vh;
  padding: 16vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(welcome_banner.jpg);
  background-size: cover;
  opacity: .8;

}

.index-banner h1 {
  text-align: center;
  font-size: 64px;
  color: red;

}


.grid {
 display: grid;
  grid-template-columns: 39% 56%;
  margin: 0;
  padding: 50px 24px;
  background-color: #AF6D63;
  text-align: center;
}

.grid h1 {
  font-size: 54px;
}

.grid p {

}


/* Header */

.header{
  width: 100%;
  background-color: #D33E43;
}

.header ul{
  text-align: center;
}

.header ul li{
  list-style: none;
  display: inline-block;
}

.header ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
  transition: all ease 0.5s;
}

.header ul li a:hover {
  background-color: #211b4385;

}
